<div class="container mx-auto p-5">
  <div class="flex flex-col justify-center items-center min-h-screen">
  <h1 class="font-body-en text-3xl md:text-6xl mb-5 sm:mb-10">体感寿命、測ります</h1>
  <%# <%= image_tag 'happy.png', width: '300', class: 'w-56 sm:w-72 mb-20' %> 
  <div class="text-lg sm:text-xl text-center mb-3 sm:mb-15 mt-6">
    <div>このアプリは「1日1日を大切に過ごして欲しい」という思いのもと作成しました。</div>
    <div>年々、「時間があっという間に過ぎる」と感じるあなたへ。</div>
    <div>あなたの体感寿命、測ります。</div>
  </div>
  <%# <%= link_to omikuji_path, class: "btn font-semibold rounded btn-primary btn-md bg-blue-gray-200 mt-5", title: "占ってみる" do %> 
  さっそく占ってみる
    <%# <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
    </svg> %>
  <%# <% end %> 
  </div>
</div>