

<div>
   <div class="card card-body">
      <div class="flex items-center justify-center">
         <div class="bg-gray-800 p-6 rounded-lg shadow-lg max-w-md w-full">
            <div class="text-left animate-fade-in-fwd">
                  <div class="text-xl mb-3 underline underline-offset-4">通常の時間計算</div>
                  <div class="text-xl mb-3 underline underline-offset-4">
                     <svg class="w-20 h-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                  </div>
                  <div class="text-xl mb-3 underline underline-offset-4">現在の体感時間を元に算出</div>

               </div>
            </div>
         </div>
      </div>
   </div>


</div>

