<footer class="footer footer-center p-4 text-base-content">
  <%= link_to "お問い合わせ", "https://forms.gle/wBVwYCy5arn77Jt56", target: "_blank", rel: "noopener noreferrer", class: "mr-2 hover:text-rose-400" %>
  <aside>
    <p class="text-xs sm:text-sm">Copyright © 2024 - All right reserved by Saito Yuki</p>
  </aside>
</footer>

