@tailwind base;
@tailwind components;
@tailwind utilities;

.twitter a {
    color: #0cb4ec;
    font-weight: bold;
  }
  
  .twitter a:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
    text-decoration: none;
  }

@layer components {
    .shrikhand-regular {
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
    }
    .noto-serif-jp {
      font-family: "Noto Serif JP", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
}